<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="Virgo Target" sequenceNumber="87">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.libra.facet.feature.feature.group" version="0.3.1.201405141436"/>
<unit id="org.eclipse.libra.facet.feature.source.feature.group" version="0.3.1.201405141436"/>
<unit id="org.eclipse.libra.framework.editor.feature.feature.group" version="0.3.1.201405141436"/>
<unit id="org.eclipse.libra.framework.editor.feature.source.feature.group" version="0.3.1.201405141436"/>
<unit id="org.eclipse.libra.framework.feature.feature.group" version="0.3.1.201405141436"/>
<unit id="org.eclipse.libra.framework.feature.source.feature.group" version="0.3.1.201405141436"/>
<unit id="org.eclipse.libra.warproducts.feature.feature.group" version="0.3.1.201405141436"/>
<unit id="org.eclipse.libra.warproducts.feature.source.feature.group" version="0.3.1.201405141436"/>
<repository location="http://download.eclipse.org/libra/milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.orbit.build.feature.set1.feature.group" version="1.0.0.v201605202053-FAfFJHFJIJfY9DASFi7aEeQz0P99"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160520211859/repository/"/>
</location>
<location path="${system_property:user.home}/code/git/virgo-tools/at.ches.pro.virgo.tools.target/plugins" type="Directory"/>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.regions.feature.group" version="1.1.0.v20120319-1602"/>
<unit id="org.eclipse.virgo.core.feature.group" version="3.7.0.D-20150624084347"/>
<unit id="org.eclipse.virgo.ds.feature.group" version="1.4.0.v20120112-1400"/>
<unit id="org.eclipse.virgo.kernel.feature.group" version="3.7.0.D-20150624084347"/>
<unit id="org.eclipse.virgo.kernel.httpservice.feature.group" version="3.7.0.D-20150624084347"/>
<unit id="org.eclipse.virgo.kernel.springintegration.feature.group" version="3.7.0.D-20150624084347"/>
<unit id="org.eclipse.virgo.management.feature.group" version="3.7.0.D-20150624084347"/>
<unit id="org.eclipse.virgo.medic.feature.group" version="3.7.0.D-20150624084347"/>
<unit id="org.eclipse.virgo.nano.mbeans.feature.group" version="3.7.0.D-20150624084347"/>
<unit id="org.eclipse.virgo.shell.feature.group" version="3.7.0.D-20150624084347"/>
<unit id="org.eclipse.virgo.simpleconfigurator.feature.group" version="3.7.0.D-20150624084347"/>
<unit id="org.eclipse.virgo.springdm.feature.group" version="2.0.0.M02"/>
<unit id="org.eclipse.virgo.tools.feature.group" version="3.7.0.D-20150624084347"/>
<repository location="http://download.eclipse.org/virgo/snapshots/3.7/"/>
</location>
</locations>
</target>
