<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
/*******************************************************************************
 * Copyright (c) 2007, 2010 SpringSource
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     SpringSource - initial API and implementation
 *******************************************************************************/
-->
<plugin>

	<extension point="org.eclipse.ui.editors.annotationTypes"> 
		<type
        markerSeverity="0"
        markerType="org.eclipse.virgo.ide.manifest.core.dmservermanifestproblemmarker"
        name="org.eclipse.virgo.ide.manifest.core.dmservermanifestproblemmarker.annotation"/> 
    </extension> 

	<extension point="org.eclipse.core.resources.markers" id="dmservermanifestproblemmarker"
		name="%manifestProblemMarker">
		<super
           	type="org.eclipse.core.resources.problemmarker">
      	</super>
		<attribute name="ruleId" />
		<attribute name="errorId" />
		<persistent value="true" />
	</extension>
	
	<extension point="org.springframework.ide.eclipse.core.validators">
		<validator id="manifestvalidator"
			class="org.eclipse.virgo.ide.manifest.internal.core.validation.BundleManifestValidator"
			name="%manifestValidator.name" 
			description="%manifestValidator.description"
			icon="icons/full/obj16/osgi_obj.gif" 
			markerId="dmservermanifestproblemmarker" 
			order="30" />
		<rules validatorId="org.eclipse.virgo.ide.manifest.core.manifestvalidator">
			<rule id="bundleActivationPolicyRule"
				class="org.eclipse.virgo.ide.manifest.internal.core.validation.rules.BundleActivationPolicyRule"
				name="%manifestValidator.rule.bundleActivationPolicyRule.name" 
				description="%manifestValidator.rule.bundleActivationPolicyRule.description" />
			<rule id="bundleActivatorRule"
				class="org.eclipse.virgo.ide.manifest.internal.core.validation.rules.BundleActivatorRule"
				name="%manifestValidator.rule.bundleActivatorRule.name" 
				description="%manifestValidator.rule.bundleActivatorRule.description" />
			<rule id="bundleManifestVersionRule"
				class="org.eclipse.virgo.ide.manifest.internal.core.validation.rules.BundleManifestVersionRule"
				name="%manifestValidator.rule.bundleManifestVersionRule.name" 
				description="%manifestValidator.rule.bundleManifestVersionRule.description" />
			<!--<rule id="bundleNameRule"
				class="com.springsource.server.ide.manifest.internal.core.validation.rules.BundleNameRule"
				name="%manifestValidator.rule.bundleNameRule.name" 
				description="%manifestValidator.rule.bundleNameRule.description" />-->
			<rule id="bundleSymbolicNameRule"
				class="org.eclipse.virgo.ide.manifest.internal.core.validation.rules.BundleSymbolicNameRule"
				name="%manifestValidator.rule.bundleSymbolicNameRule.name" 
				description="%manifestValidator.rule.bundleSymbolicNameRule.description" />
			<rule id="bundleVersionRule"
				class="org.eclipse.virgo.ide.manifest.internal.core.validation.rules.BundleVersionRule"
				name="%manifestValidator.rule.bundleVersionRule.name" 
				description="%manifestValidator.rule.bundleVersionRule.description" />
			<rule id="exportPackageRule"
				class="org.eclipse.virgo.ide.manifest.internal.core.validation.rules.ExportPackageRule"
				name="%manifestValidator.rule.exportPackageRule.name" 
				description="%manifestValidator.rule.exportPackageRule.description" />
			<rule id="importRule"
				class="org.eclipse.virgo.ide.manifest.internal.core.validation.rules.ImportPackageBundleAndLibraryRule"
				name="%manifestValidator.rule.importRule.name" 
				description="%manifestValidator.rule.importRule.description" />
			<rule id="parsingProblemsRule"
				class="org.eclipse.virgo.ide.manifest.internal.core.validation.rules.ManifestParsingProblemsRule"
				name="%manifestValidator.rule.parsingProblems.name" 
				description="%manifestValidator.rule.parsingProblems.description" />
			<rule id="requireBundleRule"
				class="org.eclipse.virgo.ide.manifest.internal.core.validation.rules.ManifestParsingProblemsRule"
				name="%manifestValidator.rule.requireBundleRule.name" 
				description="%manifestValidator.rule.requireBundleRule.description" />
			<rule id="applicationSymbolicNameRule"
				class="org.eclipse.virgo.ide.manifest.internal.core.validation.rules.ApplicationSymbolicNameRule"
				name="%manifestValidator.rule.applicationSymbolicNameRule.name" 
				description="%manifestValidator.rule.applicationSymbolicNameRule.description" />
			<rule id="applicationVersionRule"
				class="org.eclipse.virgo.ide.manifest.internal.core.validation.rules.ApplicationVersionRule"
				name="%manifestValidator.rule.applicationVersionRule.name" 
				description="%manifestValidator.rule.applicationVersionRule.description" />
		</rules>
	</extension>
	
	<extension point="org.eclipse.wst.server.core.moduleFactories">
		<moduleFactory 
			projects="true"
			class="org.eclipse.virgo.ide.module.core.ServerModuleFactoryDelegate"
			id="org.eclipse.virgo.server.modulefactory">
			<moduleType versions="1.0" types="org.eclipse.virgo.server.bundle" />
			<moduleType versions="1.0" types="org.eclipse.virgo.server.par" />
			<moduleType versions="2.0" types="org.eclipse.virgo.server.plan" />
		</moduleFactory>
	</extension>
    
    <extension point="org.eclipse.wst.server.core.moduleArtifactAdapters">
        <moduleArtifactAdapter
            id="org.eclipse.virgo.server.moduleartifactadapter"
            class="org.eclipse.virgo.ide.module.core.ServerModuleArtifactAdapterDelegate">
             <enablement>
           <with variable="selection">
             <adapt type="org.eclipse.core.resources.IProject">
             	<or>
             		<test forcePluginActivation="true"
            			property="org.eclipse.wst.common.project.facet.core.projectFacet"
            			value="org.eclipse.virgo.server.bundle:1.0"/>
             		<test forcePluginActivation="true"
            			property="org.eclipse.wst.common.project.facet.core.projectFacet"
            			value="org.eclipse.virgo.server.par:1.0"/>
             		<test forcePluginActivation="true"
            			property="org.eclipse.wst.common.project.facet.core.projectFacet"
            			value="org.eclipse.virgo.server.plan:2.0"/>
				</or>
			 </adapt>
           </with>
         </enablement>
        </moduleArtifactAdapter>
    </extension>
	
</plugin>
