<?xml version="1.0" encoding="UTF-8"?>
<!--
/*******************************************************************************
 * Copyright (c) 2007, 2010 SpringSource
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     SpringSource - initial API and implementation
 *******************************************************************************/
-->
<plugin>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
      		id="org.eclipse.virgo.ide.ui.category"
      		name="EclipseRT">
      </category>
      <wizard
            category="/org.eclipse.virgo.ide.ui.category"
            class="org.eclipse.virgo.ide.ui.wizards.NewParProjectWizard"
            hasPages="true"
            icon="icons/full/obj16/par_project_obj.gif"
            id="org.eclipse.virgo.ide.ui.wizards.parProject"
            name="PAR Project"
            project="true">
         <description>
            Create a new Virgo PAR project
         </description>
      </wizard>  
      <wizard
            category="/org.eclipse.virgo.ide.ui.category"
            class="org.eclipse.virgo.ide.ui.wizards.NewBundleProjectWizard"
            hasPages="true"
            icon="icons/full/obj16/osgi_project_obj.gif"
            id="org.eclipse.virgo.ide.ui.wizards.osgiProject"
            name="Bundle Project"
            project="true">
         <description>
            Create a new OSGi bundle project
         </description>
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.virgo.ide.ui.editors.BundleManifestEditor"
            icon="icons/full/obj16/osgi_obj.gif"
            id="org.eclipse.virgo.ide.ui.bundlemanifest"
            name="Bundle Manifest Editor"
            default="true"
            contributorClass="org.eclipse.virgo.ide.ui.editors.BundleManifestEditorContributor"
			matchingStrategy="org.eclipse.pde.internal.ui.editor.plugin.ManifestEditorMatchingStrategy">
            <contentTypeBinding contentTypeId="org.eclipse.virgo.ide.facet.core.bundleContentType"/>
      </editor>
      <editor
            class="org.eclipse.virgo.ide.ui.editors.ParManifestEditor"
            icon="icons/full/obj16/par_obj.gif"
            id="org.eclipse.virgo.ide.ui.parmanifest"
            name="PAR Manifest Editor"
            default="true"
            contributorClass="org.eclipse.virgo.ide.ui.editors.BundleManifestEditorContributor"
			matchingStrategy="org.eclipse.pde.internal.ui.editor.plugin.ManifestEditorMatchingStrategy">
            <contentTypeBinding contentTypeId="org.eclipse.virgo.ide.facet.core.parContentType"/>        
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.eclipse.virgo.ide.ui.addBundleFacet">
        <enablement>
	        <adapt type="org.eclipse.core.resources.IProject">
        		<and>
	         		<not>
	             		<test forcePluginActivation="true"
	            			property="org.eclipse.wst.common.project.facet.core.projectFacet"
	            			value="org.eclipse.virgo.server.bundle:1.0"/>
	        	 	</not>
	         		<not>
	             		<test forcePluginActivation="true"
	            			property="org.eclipse.wst.common.project.facet.core.projectFacet"
	            			value="org.eclipse.virgo.server.par:1.0"/>
	        	 	</not>
	        	</and>
	        </adapt>
         </enablement>
         <action
               label="Add OSGi Bundle Project Nature"
               class="org.eclipse.virgo.ide.ui.internal.actions.ConvertToBundleProject"
               enablesFor="+"
               menubarPath="org.springframework.ide.eclipse.ui.tools/group1"
               id="org.eclipse.virgo.ide.ui.actions.addBundleFacet">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.eclipse.virgo.ide.ui.removeBundleFacet">
        <enablement>
	        <adapt type="org.eclipse.core.resources.IProject">
         		<test forcePluginActivation="true"
        			property="org.eclipse.wst.common.project.facet.core.projectFacet"
        			value="org.eclipse.virgo.server.bundle:1.0"/>
	        </adapt>
         </enablement>
         <action
               label="Remove OSGi Bundle Project Nature"
               class="org.eclipse.virgo.ide.ui.internal.actions.ConvertToBundleProject"
               enablesFor="+"
               menubarPath="org.springframework.ide.eclipse.ui.tools/group1"
               id="org.eclipse.virgo.ide.ui.actions.removeBundleFacet">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.eclipse.virgo.ide.ui.addPlanFacet">
        <enablement>
	        <adapt type="org.eclipse.core.resources.IProject">
         		<not>
             		<test forcePluginActivation="true"
            			property="org.eclipse.wst.common.project.facet.core.projectFacet"
            			value="org.eclipse.virgo.server.plan:2.0"/>
        	 	</not>
	        </adapt>
         </enablement>
         <action
               label="Add OSGi Plan Project Nature"
               class="org.eclipse.virgo.ide.ui.internal.actions.ConvertToPlanProject"
               enablesFor="+"
               menubarPath="org.springframework.ide.eclipse.ui.tools/group1"
               id="org.eclipse.virgo.ide.ui.actions.addPlanFacet">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.eclipse.virgo.ide.ui.removePlanFacet">
        <enablement>
	        <adapt type="org.eclipse.core.resources.IProject">
         		<test forcePluginActivation="true"
        			property="org.eclipse.wst.common.project.facet.core.projectFacet"
        			value="org.eclipse.virgo.server.plan:2.0"/>
	        </adapt>
         </enablement>
         <action
               label="Remove OSGi Plan Project Nature"
               class="org.eclipse.virgo.ide.ui.internal.actions.ConvertToPlanProject"
               enablesFor="+"
               menubarPath="org.springframework.ide.eclipse.ui.tools/group1"
               id="org.eclipse.virgo.ide.ui.actions.removePlanFacet">
         </action>
      </objectContribution>
   </extension>
   
   	<extension point="org.eclipse.wst.xml.core.catalogContributions">
		<catalogContribution>
			<system
				systemId="http://www.springsource.org/schema/dm-server/plan/springsource-dm-server-plan.xsd"
    		    uri="xsds/springsource-dm-server-plan.xsd" />
			<public
	        	publicId="http://www.springsource.org/schema/dm-server/plan"
    		    uri="xsds/springsource-dm-server-plan.xsd" />
		</catalogContribution>
	</extension>
   
   	<extension point="org.eclipse.ui.editors">
		<editor
        class="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorPart"
        contributorClass="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorActionBarContributor"
        default="true"
        extensions="plan"
        icon="icons/full/obj16/plan_obj.gif"
        id="org.eclipse.virgo.ide.ui.planfileeditor"
        name="Plan Editor"
        symbolicFontName="org.eclipse.wst.sse.ui.textfont">
			<contentTypeBinding
				contentTypeId="org.eclipse.virgo.ide.facet.core.planContentType" />
		</editor>
	</extension>

	<!-- Editor actionsets -->
	<extension point="org.eclipse.ui.actionSetPartAssociations">
		<actionSetPartAssociation
			targetID="org.eclipse.ui.edit.text.actionSet.annotationNavigation">
			<part
				id="org.eclipse.virgo.ide.ui.planfileeditor">
			</part>
		</actionSetPartAssociation>
		<actionSetPartAssociation
			targetID="org.eclipse.ui.NavigateActionSet">
			<part
				id="org.eclipse.virgo.ide.ui.planfileeditor">
			</part>
		</actionSetPartAssociation>
	</extension>
	
	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<sourceViewerConfiguration
			class="org.springframework.ide.eclipse.beans.ui.editor.BeansStructuredTextViewerConfiguration"
			target="org.eclipse.virgo.ide.facet.core.planContentType" />
	</extension>

	<extension point="org.eclipse.wst.sse.core.modelHandler">
		<modelHandler
			id="org.eclipse.virgo.ide.ui.handler.planConfig"
			default="false"
			associatedContentTypeId="org.eclipse.virgo.ide.facet.core.planContentType"
			class="org.eclipse.virgo.ide.ui.editors.plan.PlanModelHandler">
		</modelHandler>
	</extension>

	<extension
		point="org.eclipse.wst.sse.ui.adapterFactoryDescription">
		<adapterFactoryDescription
			class="org.eclipse.virgo.ide.ui.editors.plan.PlanAdapterFactoryProvider">
		</adapterFactoryDescription>
	</extension>
	
	<extension
		point="org.springframework.ide.eclipse.beans.ui.editor.namespaces">
		<namespace
			contentAssistProcessor="org.eclipse.virgo.ide.ui.editors.plan.PlanContentAssistProcessor"
			elementLocator="org.springframework.ide.eclipse.beans.ui.editor.namespaces.DefaultReferenceableElementsLocator"
			hyperLinkDetector="org.eclipse.virgo.ide.ui.editors.plan.PlanHyperlinkDetector"
			labelProvider="org.eclipse.virgo.ide.ui.editors.plan.PlanOutlineLabelProvider"
			name="SpringSource Plan File"
			uri="http://www.springsource.org/schema/dm-server/plan" />
	</extension>
   
</plugin>
