<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eclipse.org/virgo/par.ecore"
            class="org.eclipse.virgo.ide.par.ParPackage"
            genModel="model/par.genmodel"/>
   </extension>

</plugin>
