<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="Virgo Target" sequenceNumber="74">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.virgo.medic" version="0.0.0"/>
<unit id="org.eclipse.virgo.repository" version="0.0.0"/>
<unit id="org.eclipse.virgo.util.common" version="0.0.0"/>
<unit id="org.eclipse.virgo.util.io" version="0.0.0"/>
<unit id="org.eclipse.virgo.util.jmx" version="0.0.0"/>
<unit id="org.eclipse.virgo.util.math" version="0.0.0"/>
<unit id="org.eclipse.virgo.util.osgi" version="0.0.0"/>
<unit id="org.eclipse.virgo.util.osgi.manifest" version="0.0.0"/>
<unit id="org.eclipse.virgo.util.parser.manifest" version="0.0.0"/>
<repository location="jar:file:/Users/fluffi/Projects/virgo-3.7.x/scm-repos/virgo-root/org.eclipse.virgo.site/build/distributions/repository-3.7.0.D-20150616062015.zip!/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
<unit id="javax.xml.bind" version="2.2.0.v201105210648"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150519210750/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.libra.framework.feature.feature.group" version="0.3.1.201405141436"/>
<unit id="org.eclipse.libra.framework.editor.feature.feature.group" version="0.3.1.201405141436"/>
<unit id="org.eclipse.libra.warproducts.feature.feature.group" version="0.3.1.201405141436"/>
<unit id="org.eclipse.libra.facet.feature.feature.group" version="0.3.1.201405141436"/>
<repository location="http://download.eclipse.org/libra/milestones"/>
</location>
</locations>
<environment>
<os>macosx</os>
<ws>cocoa</ws>
<arch>x86_64</arch>
<nl>en_US</nl>
</environment>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.5 -XstartOnFirstThread -Dorg.eclipse.swt.internal.carbon.smallFonts -XX:MaxPermSize=256m -Xms300m -Xmx512m -Xdock:icon=../Resources/Eclipse.icns -XstartOnFirstThread -Dorg.eclipse.swt.internal.carbon.smallFonts</vmArgs>
</launcherArgs>
</target>
